.store-form{
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 15px -5px #555;
  overflow: hidden;
}
.form-title{
  border-bottom: 2px solid #99ccff;
  margin-bottom: 20px;
  color: #004d99;
}
.address{
  color:  #5c5c3d;
}
.save-btn{
  padding: 20px 20px;
  color:white;
  background-color: #004d99;
  float: right;
}
.ind-name{
  margin-top: 20px;
}